<html xmlns:th="http://www.thymeleaf.org">
    <div th:if="${item.switchable}" class="ui fitted slider checkbox" data-touch-toggle-all="0">
        <input th:if="${access.isHasCreate()}" type="checkbox"/>
        <input th:unless="${access.isHasCreate()}" type="checkbox" disabled="disabled"/>
        <label></label>
    </div>
    <div th:unless="${item.switchable}" class="ui fitted slider checkbox">
        <input type="checkbox" disabled="disabled">
        <label></label>
    </div>
    <script th:inline="javascript">
        $(function () { index.touchReady(); });
    </script>
</html>