<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:stars="http://www.benayn.org">

    <th:block th:fragment="input (el)">
        <th:block th:if="${el.typeName eq 'RADIO'}">
            <div class="inline fields">
                <div class="field" th:each="option: ${el.options}">
                    <div class="ui radio checkbox" th:with="optionId=${el.id} + '_radio_' + ${optionStat.count}">
                        <input type="radio" th:id="${optionId}" th:name="${el.name}"
                               th:value="${option.value}" th:checked="${#bools.isTrue(option.chosen)}"
                               stars:attributes="${el.attributes}" th:readonly="${el.readonly}" th:disabled="${el.disabled}"
                               th:class="${el.clazz}" th:style="${el.style}" th:title="${el.title}"/>
                        <label class="coloring red" th:text="${option.label}" th:for="${optionId}"></label>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block th:unless="${el.typeName eq 'RADIO'}">
            <input th:type="${el.type.toString().toLowerCase()}"
                   type="text" th:id="${el.id}" th:name="${el.name}" th:title="${el.title}"
                   th:placeholder="${el.placeholder}" th:class="${el.clazz}"
                   stars:attributes="${el.attributes}" th:readonly="${el.readonly}" th:disabled="${el.disabled}"
                   th:style="${el.style}" th:value="${el.value}"/>
        </th:block>

    </th:block>

    <th:block th:fragment="textarea (el)">
        <textarea th:type="${el.type.toString().toLowerCase()}"
                  th:id="${el.id}" th:name="${el.name}" th:title="${el.title}"
                  th:placeholder="${el.placeholder}" th:class="${el.clazz}"
                  stars:attributes="${el.attributes}" th:readonly="${el.readonly}" th:disabled="${el.disabled}"
                  th:style="${el.style}" th:text="${el.value}">
        </textarea>
    </th:block>

    <th:block th:fragment="select (el)">
        <label th:text="${el.label}">select label</label>
        <select th:id="${el.id}" th:name="${el.name}" data-com-dropdown="1"
                th:title="${el.title}" th:class="'ui dropdown ' + ${el.clazz}" th:style="${el.style}"
                stars:attributes="${el.attributes}" th:readonly="${el.readonly}" th:disabled="${el.disabled}">
            <option value="" th:text="${el.label}">default text</option>
            <option th:each="option: ${el.options}" th:id="${el.id} + '_option_' + ${optionStat.count}"
                    th:value="${option.value}" th:text="${option.label}"
                    th:selected="${#bools.isTrue(option.chosen)}">
                option
            </option>
        </select>
    </th:block>

    <th:block th:fragment="toggle (el)">
        <div class="ui toggle checkbox">
            <input th:if="${el.tagName eq 'TOGGLE'}" type="checkbox" data-com-onoff="1"
                   th:name="${el.name}" th:id="${el.id}"
                   th:title="${el.title}" th:class="${el.clazz}"
                   stars:attributes="${el.attributes}" th:readonly="${el.readonly}"
                   th:disabled="${el.disabled}" th:style="${el.style}" th:checked="${#bools.isTrue(el.value)}"/>
            <label th:text="${el.label}">Toggle On Off</label>
        </div>
    </th:block>

    <div th:fragment="unsupported (desc)" th:text="'Unsupported ' + ${desc} + ' Yet ...'"></div>

</html>