<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    var messages = {
        'render.confirm.title': [[#{render.confirm.title}]],
        'render.confirm.cancel': [[#{render.confirm.cancel}]],
        'render.confirm.delete.text': [[#{render.confirm.delete.text}]],
        'render.confirm.delete.yes': [[#{render.confirm.delete.yes}]],
        'render.alert.delete.title': [[#{render.alert.delete.title}]],
        'render.alert.delete.text': [[#{render.alert.delete.text}]]
    };
</script>