<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    var messages = {
        'render.confirm.title': [[#{render.confirm.title}]],
        'render.confirm.cancel': [[#{render.confirm.cancel}]],
        'render.confirm.delete.text': [[#{render.confirm.delete.text}]],
        'render.confirm.delete.yes': [[#{render.confirm.delete.yes}]],
        'render.alert.create.title': [[#{render.alert.create.title}]],
        'render.alert.create.text': [[#{render.alert.create.text}]],
        'render.alert.update.title': [[#{render.alert.update.title}]],
        'render.alert.update.text': [[#{render.alert.update.text}]],
        'render.code.403.title': [[#{render.code.403.title}]],
        'render.code.403.text': [[#{render.code.403.text}]],
        'render.alert.delete.title': [[#{render.alert.delete.title}]],
        'render.alert.delete.text': [[#{render.alert.delete.text}]]
    };
</script>