<script type="text/html" id="modal_tmpl">
    <div id="<%= id %>" class="ui <%= size %> modal">
        <% if (close) { %> <i class="close red icon"></i> <% } %>
        <% if (header.length > 0) { %>
        <div class="header"> <%= header %> </div>
        <% } %>
        <div class="content" style="overflow: hidden;" id="<%= id + '-content' %>"> <%= content %> </div>
        <% if (buttons.length > 0) { %>
        <div class="actions">
            <% $.each(buttons, function(idx, btn) { %>
            <% if (btn.html && btn.html.length > 0) { %>
            <%= btn.html %>
            <% } else { %>
            <div class="ui button <%= btn.clazz %>" id="<%= btn.id %>"><%= btn.text %></div>
            <% } %>
            <% }); %>
        </div>
        <% } %>
    </div>
</script>

<script type="text/html" id="previews_tmpl">
    <a class="ui mini right corner label icondh" id="<%= toggleId %>" style="z-index: 1001;display: none;">
        <i class="content <%= tabHead ? 'green' : '' %> icon" id="<%= toggleId %>-icon" style="cursor: pointer;"></i>
    </a>

    <div class="ui right internal rail" id="<%= railId %>" style="padding:0;z-index: 1000;display: none;">
        <div class="ui compact menu float-right" id="<%= railId %>-content" style="border:0;box-shadow:none;">
            <!--
            <a class="item icondh" style="padding-left: 0.5em;padding-right: 0.5em;">
                <i class="green gamepad icon"></i>
            </a>
            -->
        </div>
    </div>

    <div class="ui left vertical labeled icon sidebar menu <%= sidebarItem %>" style="border: 0;"> <!-- inverted -->
        <!--
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        -->
    </div>

    <div class="ui right sidebar vertical menu <%= sidebarItem %>" style="border: 0;">
        <!--
        <a class="header item">File Permissions</a>
        <a class="item">Share on Social</a>
        <a class="item">Share by E-mail</a>
        -->
    </div>

    <div class="ui top sidebar ui segment <%= sidebarItem %>" style="border: 0;">
        <!--
        <div class="ui center aligned page grid">
            <div class="one column row">
                <div class="sixteen wide column">
                    <h3 class="ui header">New Content Awaits</h3>
                </div>
            </div>
            <div class="three column divided row">
                <div class="column">
                    1
                </div>
                <div class="column">
                    2
                </div>
                <div class="column">
                    3
                </div>
            </div>
        </div>
        -->
    </div>

    <div class="ui bottom inverted nine item labeled icon sidebar menu <%= sidebarItem %>" style="border: 0;">
        <!--
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        -->
    </div>

    <div class="pusher" id="<%= containerId %>">
        <div class="ui top attached tabular menu" style="<%= (tabHead ? '' : 'display:none;') %>" id="<%= headId %>">
            <% $.each(content, function(idx, tab) { %>
                <a class="<%= (tabActiveIdx === idx ? 'active' : '') %> teal item <%= tabHeadItem %>"
                   data-tab="<%= tab.id %>"><%= tab.title %></a>
            <% }); %>
            <!--
            <div class="menu">
                <a class="item">
                    <div class="mini ui basic animated fade button">
                        <div class="visible content"><i class="add icon"></i></div>
                        <div class="hidden content">New</div>
                    </div>
                </a>
            </div>
            -->
        </div>
        <% $.each(content, function(idx, tab) { %>
            <div class="ui bottom attached <%= (tabActiveIdx === idx ? 'active' : '') %> tab segment <%= tabBodyItem %>"
                 id="<%= tab.id %>" data-tab="<%= tab.id %>"><%= (fiona.isUrl(tab.context) ? '' : tab.context) %></div>
        <% }); %>
    </div>
</script>
<script type="text/html" id="atab_head_tmpl">
    <a class="item <%= tabHeadItem %>" data-tab="<%= tab.id %>"><%= tab.title %></a>
</script>
<script type="text/html" id="atab_body_tmpl">
    <div class="ui bottom attached tab segment <%= tabBodyItem %>"
         id="<%= tab.id %>" data-tab="<%= tab.id %>"><%= (fiona.isUrl(tab.context) ? '' : tab.context) %></div>
</script>
<script type="text/html" id="arail_tmpl">
<a class="item icondh" style="padding-left: 0.5em;padding-right: 0.5em;" id="<%= id %>" title="<%= title %>">
    <i class="<%= color %> <%= icon %> icon"></i>
</a>
</script>
