<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Capricorn Write</title>
    <link th:href="@{/module/manage.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/module/write.js}"></script>
    <script type="text/javascript" th:src="@{/module/code.js}"></script>
    <script type="text/javascript" th:src="@{/module/note.js}"></script>
</head>
<body>

<th:block th:replace="~{modal}"></th:block>
</body>
</html>