<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Capricorn Write</title>
    <link th:href="@{/module/manage.css}" rel="stylesheet"/>
    <link th:href="@{/module/code.css}" rel="stylesheet"/>
    <link th:href="@{/module/note.css}" rel="stylesheet"/>
    <link th:href="@{/module/markdown.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/module/base-heavy.js}"></script>
    <script type="text/javascript" th:src="@{/module/code.js}"></script>
    <script type="text/javascript" th:src="@{/module/note.js}"></script>
    <script type="text/javascript" th:src="@{/module/markdown.js}"></script>
    <script type="text/javascript" th:src="@{/module/write.js}"></script>
</head>
<body>
<a class="icondh" id="write-menu"
   style="position: absolute;left: 0;top: 0;border: 0;z-index: 40000;margin-left: 0.7em;">
    <i class="lemon blue icon" style="cursor: pointer;"></i>
</a>
<th:block th:replace="~{modal}"></th:block>
<script type="text/html" id="menu_tmpl">
    <div class="ui large fixed menu" id="<%= id %>">
        <div class="item menu-logo" style="padding-left: 2.5em; padding-right: 3em;">
            <div layout:insert="~{logo}" class="ui image logoImg">logo</div>
        </div>

        <% $.each(menus, function(idx, mm) {
            var mmNameKey = /^\./.test(mm.name) ? ('write.menu' + mm.name) : mm.name;
        %>
        <% if (1 === mm.type) { %>
        <div class="ui dropdown item" id="<%= pi.sign(name) %>">
            <%= getMessage(mmNameKey) %>
            <div class="menu">
                <% if (mm.search) { %>
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" id="<%= pi.sign(search.name) %>" name="<%= search.name %>"
                           placeholder="<%= getMessage(search.placeholder) %>">
                </div>
                <div class="divider"></div>
                <% } %>
                <% if (mm.header) { %>
                <div class="header">
                    <%= header %>
                </div>
                <% } %>
                <div class="scrolling menu" style="overflow: hidden;">
                    <% $.each(mm.items, function(mmidx, mi) {
                    var nameValue = getMessage(mi.nameKey);
                    %>
                    <% if (1 === mi.type) { %>
                    <div class="item" id="<%= mi.id %>" data-params="<%= pi.sign(mi.params) %>">
                        <span class="description"><%= mi.label %></span>
                        <%= nameValue %>
                    </div>
                    <% } else if (2 === mi.type) { %>
                    <% if (!iFrame.isRootWin()) { %>
                    <div class="item" id="<%= mi.id %>" data-params="<%= pi.sign(mi.params) %>">
                        <span class="description"><%= mi.label %></span>
                        <%= nameValue %>
                    </div>
                    <% } %>
                    <% } else if (3 === mi.type) { %>
                    <div class="item" id="<%= mi.id %>" data-params="<%= pi.sign(mi.params) %>">
                        <span class="description icondh"><i class="toggle on blue icon"></i></span>
                        <%= nameValue %>
                    </div>
                    <% } else if (4 === mi.type) { %>
                    <div class="divider"></div>
                    <% } else if (5 === mi.type) { %>
                    <div><%= pi.repeat('&nbsp;', mi.params) %></div>
                    <% } %>
                    <% }); %>
                </div>
            </div>
        </div>
        <% } else if (2 === mm.type) { %>
        <a class="item" id="clk-<%= pi.sign(name) %>">
            <%= getMessage(mmNameKey) %>
        </a>
        <% } else if (3 === mm.type) { %>
        <div class="ui dropdown item" id="<%= pi.sign(name) %>">
            <%= getMessage(mmNameKey) %>
            <div class="menu">
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" id="lang-qry-<%= pi.sign(name) %>" name=""
                           placeholder="<%= getMessage('write.search.lang.placeholder') %>">
                </div>
                <div class="scrolling menu" style="overflow: hidden;">
                    <% $.each(mm.items, function(k, lang) { %>
                    <div class="item" id="lang_<%= lang.id %>">

                        <div class="ui raised segment" id="block_lang_ch_<%= lang.id %>" style="box-shadow: none;border: none;">
                            <a class="ui red ribbon label" id="mark_lang_ch_<%= lang.id %>" data-lang="<%= pi.sign(lang) %>"
                               style="display: none;"><%= getMessage('write.lang.chosen') %></a>
                            <span><%= lang.name %></span>
                            <div class="ui card" style="box-shadow: none;">
                                <div class="content">
                                    <% if (lang.theMimes && lang.theMimes.length > 0) { %>
                                    <div class="meta text-silver"><%= getMessage('write.lang.type') %></div>
                                    <div class="ui small feed">
                                        <% $.each(lang.theMimes, function(idx, mime) { %>
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary icondh">
                                                    <a href="javascript:void(0);" data-lang-info="<%= pi.sign(mime) %>"><%= mime %></a>
                                                    <i class="check circle red icon"
                                                       id="info_lang_ch_<%= pi.sign(mime) %>" style="display: none;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                    <% } %>
                                    <% if (lang.ext && lang.ext.length > 0) {  %>
                                    <div class="meta text-silver"><%= getMessage('write.lang.ext') %></div>
                                    <div class="ui small feed">
                                        <% $.each(lang.ext, function(idx, ext) { %>
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary icondh">
                                                    <a href="javascript:void(0);" data-lang-info="<%= pi.sign(ext) %>"><%= ext %></a>
                                                    <i class="check circle red icon"
                                                       id="info_lang_ch_<%= pi.sign(ext) %>" style="display: none;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>


                    </div>
                    <% }); %>
                </div>


            </div>
        </div>
        <% } else if (4 === mm.type) { %>
        <div class="ui dropdown item" id="<%= pi.sign(name) %>">
            <%= getMessage(mmNameKey) %>
            <div class="menu">
                <div class="scrolling menu" style="overflow: hidden;">
                    <% $.each(mm.items, function(idx, th) { %>
                    <div class="item icondh" data-theme="<%= pi.sign(th) %>">
                        <%= th %>
                        <i class="check circle red icon" id="th_ch_<%= pi.sign(th) %>" style="display: none;"></i>
                    </div>
                    <% }); %>
                </div>


            </div>
        </div>
        <% } %>
        <% }); %>

        <div class="right menu">
        </div>
    </div>
</script>
<script th:inline="javascript">
    var messages = {
        'write.menu.file': [[#{write.menu.file}]],
        'write.menu.edit': [[#{write.menu.edit}]],
        'write.menu.note': [[#{write.menu.note}]],
        'write.menu.language': [[#{write.menu.language}]],
        'write.menu.theme': [[#{write.menu.theme}]],
        'write.menu.help': [[#{write.menu.help}]],
        'directive.new.name': [[#{directive.new.name}]],
        'directive.new.desc': [[#{directive.new.desc}]],
        'directive.wnew.name': [[#{directive.wnew.name}]],
        'directive.wnew.desc': [[#{directive.wnew.desc}]],
        'directive.asnew.name': [[#{directive.asnew.name}]],
        'directive.asnew.desc': [[#{directive.asnew.desc}]],
        'directive.open.name': [[#{directive.open.name}]],
        'directive.open.desc': [[#{directive.open.desc}]],
        'directive.menu.name': [[#{directive.menu.name}]],
        'directive.menu.desc': [[#{directive.menu.desc}]],
        'directive.quit.name': [[#{directive.quit.name}]],
        'directive.quit.desc': [[#{directive.quit.desc}]],
        'directive.share.name': [[#{directive.share.name}]],
        'directive.share.desc': [[#{directive.share.desc}]],
        'directive.view.name': [[#{directive.view.name}]],
        'directive.view.desc': [[#{directive.view.desc}]],
        'directive.fullscreen.name': [[#{directive.fullscreen.name}]],
        'directive.fullscreen.desc': [[#{directive.fullscreen.desc}]],
        'directive.live.name': [[#{directive.live.name}]],
        'directive.live.desc': [[#{directive.live.desc}]],
        'directive.info.name': [[#{directive.info.name}]],
        'directive.info.desc': [[#{directive.info.desc}]],
        'directive.w.name': [[#{directive.w.name}]],
        'directive.w.desc': [[#{directive.w.desc}]],
        'directive.ww.name': [[#{directive.ww.name}]],
        'directive.ww.desc': [[#{directive.ww.desc}]],
        'directive.wq.name': [[#{directive.wq.name}]],
        'directive.wq.desc': [[#{directive.wq.desc}]],
        'directive.save.name': [[#{directive.save.name}]],
        'directive.save.desc': [[#{directive.save.desc}]],
        'directive.undo.name': [[#{directive.undo.name}]],
        'directive.undo.desc': [[#{directive.undo.desc}]],
        'directive.redo.name': [[#{directive.redo.name}]],
        'directive.redo.desc': [[#{directive.redo.desc}]],
        'directive.editMode.name': [[#{directive.editMode.name}]],
        'directive.editMode.desc': [[#{directive.editMode.desc}]],
        'directive.visualMode.name': [[#{directive.visualMode.name}]],
        'directive.visualMode.desc': [[#{directive.visualMode.desc}]],
        'directive.rich.name': [[#{directive.rich.name}]],
        'directive.rich.desc': [[#{directive.rich.desc}]],
        'directive.compare.name': [[#{directive.compare.name}]],
        'directive.compare.desc': [[#{directive.compare.desc}]],
        'directive.autocomplete.name': [[#{directive.autocomplete.name}]],
        'directive.autocomplete.desc': [[#{directive.autocomplete.desc}]],
        'directive.wrapword.name': [[#{directive.wrapword.name}]],
        'directive.wrapword.desc': [[#{directive.wrapword.desc}]],
        'directive.toggleComment.name': [[#{directive.toggleComment.name}]],
        'directive.toggleComment.desc': [[#{directive.toggleComment.desc}]],
        'directive.foldall.name': [[#{directive.foldall.name}]],
        'directive.foldall.desc': [[#{directive.foldall.desc}]],
        'directive.unfoldall.name': [[#{directive.unfoldall.name}]],
        'directive.unfoldall.desc': [[#{directive.unfoldall.desc}]],
        'directive.toggleFold.name': [[#{directive.toggleFold.name}]],
        'directive.toggleFold.desc': [[#{directive.toggleFold.desc}]],
        'directive.toMatchingTag.name': [[#{directive.toMatchingTag.name}]],
        'directive.toMatchingTag.desc': [[#{directive.toMatchingTag.desc}]],
        'directive.selectAll.name': [[#{directive.selectAll.name}]],
        'directive.selectAll.desc': [[#{directive.selectAll.desc}]],
        'directive.find.name': [[#{directive.find.name}]],
        'directive.find.desc': [[#{directive.find.desc}]],
        'directive.findNext.name': [[#{directive.findNext.name}]],
        'directive.findNext.desc': [[#{directive.findNext.desc}]],
        'directive.findPrev.name': [[#{directive.findPrev.name}]],
        'directive.findPrev.desc': [[#{directive.findPrev.desc}]],
        'directive.replace.name': [[#{directive.replace.name}]],
        'directive.replace.desc': [[#{directive.replace.desc}]],
        'directive.replaceAll.name': [[#{directive.replaceAll.name}]],
        'directive.replaceAll.desc': [[#{directive.replaceAll.desc}]],
        'directive.jump.name': [[#{directive.jump.name}]],
        'directive.jump.desc': [[#{directive.jump.desc}]],
        'directive.shared.name': [[#{directive.shared.name}]],
        'directive.shared.desc': [[#{directive.shared.desc}]],
        'directive.edit.name': [[#{directive.edit.name}]],
        'directive.edit.desc': [[#{directive.edit.desc}]],
        'directive.del.name': [[#{directive.del.name}]],
        'directive.del.desc': [[#{directive.del.desc}]],
        'directive.theme.name': [[#{directive.theme.name}]],
        'directive.theme.desc': [[#{directive.theme.desc}]],
        'directive.mode.name': [[#{directive.mode.name}]],
        'directive.mode.desc': [[#{directive.mode.desc}]],
        'directive.joinline.name': [[#{directive.joinline.name}]],
        'directive.joinline.desc': [[#{directive.joinline.desc}]],
        'write.lang.type': [[#{write.lang.type}]],
        'write.lang.type': [[#{write.lang.type}]],
        'write.lang.ext': [[#{write.lang.ext}]],
        'write.lang.chosen': [[#{write.lang.chosen}]],
        'write.theme.chosen': [[#{write.theme.chosen}]],
        'write.search.lang.placeholder': [[#{write.search.lang.placeholder}]]
    };
</script>
</body>
</html>