<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="ui fixed menu">
    <a href="#" class="header item borderless">
        <div layout:replace="~{logo}">logo</div>
    </a>
    <div class="ui container">
        <div class="right menu">
            <div class="item borderless">
                <a class="ui button">Log in</a>
            </div>
            <div class="item borderless">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>