<div xmlns:th="http://www.thymeleaf.org" class="ui standard modal">
    <!--<i class="close icon"></i>-->
    <div class="header" th:text="#{render.modal.edit.title}">Edit</div>
    <div class="content">
        <form th:with="groupNum=2" class="ui form segment" style="border: none;" id="edit-form">

            <!--/*/ <th:block th:each="el: ${editEl.hiddenGroup}"> /*/-->
                <th:block th:switch="${el.tag.toString()}">
                    <th:block th:case="'INPUT'" th:insert="element::input (${el})">
                    </th:block>
                    <th:block th:case="*" th:insert="element::unsupported (${el.tag.toString()})">
                    </th:block>
                </th:block>
            <!--/*/ </th:block> /*/-->

            <!--/*/ <th:block th:each="groupEl: ${editEl.wellGroup}"> /*/-->
                <div class="two fields">
                    <!--/*/ <th:block th:each="el: ${editEl.wellGroup}"> /*/-->
                        <!--/*/ <th:block th:if="${(elStat.count > ((groupElStat.count - 1) * groupNum))
                         && (elStat.count <= (groupElStat.count * groupNum))}"> /*/-->
                            <div class="field" th:switch="${el.tag.toString()}" th:id="'field_' + ${el.name}">
                                <th:block th:case="'INPUT'">
                                    <label th:if="${not el.hidden}" th:text="${el.label}" th:for="${el.id}">Name</label>
                                    <input th:replace="element::input (${el})"/>
                                </th:block>
                                <th:block th:case="*" th:insert="element::unsupported (${el.tag.toString()})">
                                </th:block>
                            </div>
                        <!--/*/ </th:block> /*/-->
                    <!--/*/ </th:block> /*/-->
                </div>
            <!--/*/ </th:block> /*/-->

            <!--/*/ <th:block th:each="el: ${editEl.rowGroup}"> /*/-->
                <div class="field" th:switch="${el.tag.toString()}" th:id="'field_' + ${el.name}">
                    <label th:if="${not el.hidden}" th:text="${el.label}" th:for="${el.id}">Name</label>
                    <th:block th:case="'TEXTAREA'" th:insert="element::textarea (${el})">
                    </th:block>
                    <th:block th:case="*" th:insert="element::unsupported (${el.tag.toString()})">
                    </th:block>
                </div>
            <!--/*/ </th:block> /*/-->

        </form>
    </div>
    <div class="actions">
        <div class="ui button deny" th:text="#{render.modal.button.cancel}">Cancel</div>
        <div class="ui green button" th:attr="data-action-type=${actionType}" th:text="#{render.modal.button.submit}">Submit</div>
    </div>
</div>