<div xmlns:th="http://www.thymeleaf.org" class="ui standard modal">
    <!--<i class="close icon"></i>-->
    <div class="header" th:text="#{render.modal.edit.title}">Edit</div>
    <div class="content">
        <form th:with="groupNum=2" class="ui form segment" style="border: none;" th:id="${editId}">
            <th:block th:insert="element::form (${editEl})">form</th:block>
        </form>
    </div>
    <div class="actions">
        <th:block th:if="${actionType == 1}">
            <div class="ui button deny"
                 th:text="${access.isHasCreate()} ? #{render.modal.button.cancel} : #{render.modal.button.close}">Cancel Or Close</div>
            <div th:if="${access.isHasCreate()}" class="ui green button"
                 th:attr="data-action-type=${actionType}" th:text="#{render.modal.button.submit}">Submit</div>
        </th:block>
        <th:block th:if="${actionType == 2}">
            <div class="ui button deny"
                 th:text="${access.isHasUpdate()} ? #{render.modal.button.cancel} : #{render.modal.button.close}">Cancel Or Close</div>
            <div th:if="${access.isHasUpdate()}" class="ui green button"
                 th:attr="data-action-type=${actionType}" th:text="#{render.modal.button.submit}">Submit</div>
        </th:block>

    </div>
</div>