<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ manage/layout }">
<head>
    <title>Home</title>
    <script type="text/javascript" th:src="@{/module/item-index.js}"></script>
</head>
<body>
<div layout:fragment="content">

    <div class="ui equal width left aligned padded grid stackable"
         th:attr="data-page-info=${page},data-access=${#star.encodes(access)}" th:id="${pageInfo.pageId}">
        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui header" th:text="${title}">
                            Module Title
                        </h4>
                    </div>
                    <form class="ui form segment form8" th:with="groupnum=3" th:id="${pageInfo.searchId}">
                        <!--/*/ <th:block th:each="groupEl: ${searchEls}"> /*/-->
                        <div class="three fields">
                            <!--/*/ <th:block th:each="el: ${searchEls}"> /*/-->
                            <!--/*/ <th:block th:if="${(elStat.count > ((groupElStat.count - 1) * groupnum))
                             && (elStat.count <= (groupElStat.count * groupnum))}"> /*/-->
                            <div th:if="${el.fragmentValue}" th:utext="${el.value}" class="field"></div>
                            <div th:if="${not el.fragmentValue}" th:switch="${el.tag.toString()}" class="field">
                                <div th:case="'INPUT'" class="ui icon input">
                                    <input th:replace="element::input (${el})"/>
                                </div>
                                <th:block th:case="'SELECT'" th:insert="element::select (${el})">
                                </th:block>
                                <div th:case="*">
                                    <div th:replace="element::unsupported (${el.tag.toString()})"></div>
                                </div>
                                <div class="field" th:remove="all">
                                    <div class="ui icon input">
                                        <input type="text" placeholder="Search large...">
                                    </div>
                                </div>
                            </div>
                            <!--/*/ </th:block> /*/-->
                            <!--/*/ </th:block> /*/-->
                        </div>
                        <!--/*/ </th:block> /*/-->
                        <div class="ui submit green labeled icon button" data-page-no="0">
                            <i class="search icon"></i>
                            <div th:text="#{render.button.search}">Search</div>
                        </div>
                        <div class="ui error message">
                            <ul class="list">
                                <li>Please put the same value in both fields</li>
                            </ul>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:id="${pageInfo.contentId}"></div>

    <script th:inline="javascript">
        $(function () { index.init(); });
    </script>
</div>
</body>
</html>