<div class="ui visible left vertical sidebar menu no-border sidemenu">

    <a href="dashboard-v1.html" class="ui medium image borderless">
        <!--<img src="golgi/img/bg/3.png" />-->
    </a>

    <a class="item">
        <b>Main</b>
    </a>

    <div class="ui accordion">

        <div class="title">
            <i class="dropdown icon"></i>
            Dashboard  <a class="ui mini red label">New</a>
        </div>
        <div class="content">
            <a class="item" href="dashboard.html">
                Dashboard <i class="dashboard icon"></i>
            </a>

        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Apps
        </div>
        <div class="content">
            <a class="item" href="inbox.html">
                Inbox
            </a>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Layouts
        </div>
        <div class="content">
            <a class="item" href="sidebar.html">
                Sidebar
            </a>
        </div>

        <!--
        <a class="item">
            <b>Help</b>
        </a>
        <a class="item" href="document.html">
            <i class="question icon"></i> Documentation
        </a>
        <a class="item">
            <div class="ui red empty circular label"></div>
            Important
        </a>
        -->

    </div>
</div>