
/* checkbox */
.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ label:before {background-color: #2185d0 !important;}
.ui.checkbox input:disabled {cursor: not-allowed;}

/* full screen modal */
.ui.fullscreen.modal {width: 100% !important;left: 0;height: 100% !important;border-radius: 0;}
.ui.fullscreen.modal .content {padding: 0rem !important;}
.modals.dimmer .ui.scrolling.fullscreen.modal {margin-top: 0rem !important;margin-bottom: 0rem !important;}

.ui.attached.segment {border: 0;}

.ui.tabular.menu {border-bottom: 1px solid #d9edf7}
.ui.tabular.menu .active.item {border-color: #d9edf7}
.ui.menu .teal.active.item, .ui.teal.menu .active.item {border-color: #d9edf7 !important;}

/*<div class="icondh"><i class="video camera icon"></i></div>*/
.icondh { cursor: pointer; }
.icondh i { vertical-align: middle; margin: 0; display: inline-block; text-align: center; -webkit-transition: all 1s; transition: all 1s; }
.icondh:hover i { -webkit-transform: scale(2, 2); transform: scale(2, 2); }
